<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
                I am a passionate and results-oriented developer with experience in both front-end and back-end development. I have a strong foundation in object-oriented programming (Kotlin, Python, Java) and web development technologies (HTML, CSS, JavaScript). I am also skilled in database design (MySQL, Firebase) and mobile development (Jetapck Conpose).
            </p>
            
            <p> 
                In my previous roles, I have successfully designed and developed user interfaces for Android applications, created interactive prototypes, and implemented back-end logic using Laravel. I am also experienced in developing web applications using a variety of technologies, including HTML, CSS, Bootstrap, Javascript, and PHP.
            </p>

        </div>
        <div class="about-img">
            <Image src='/assets/about.jpeg' class="profile-img" alt="" />
        </div>
    </div>
</div>