<div class="nav-container">
    <div class="logo">
        <a href="/">
            MEL
        </a>
    </div>
    <div class="nav">
        <a href="/projects" class="link">
            Projects
        </a>
        <a 
            href="https://drive.google.com/file/d/1LtIYwnX1ZWtdNOSIf6kn6DE1Z4x7W_Qs/view?usp=sharing" 
            class="cta-btn"
        >Resume</a>
    </div>
</div>